# Dependencies
node_modules/

# Environment variables (VERY IMPORTANT)
.env

# Session / runtime data
app-session/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Optional (if generated)
dist/
build/